body {
    font-family: var(--mdb-font-roboto);
    line-height: 1.6;
    color: #4f4f4f;
    background-color: #FBFBFB;
}

.site-nav {
    float: right;
}

.bg-image {
    /* background-image: url('assets/background-info.jpg'); */
    background-color: rgba(0, 0, 0, 0.7);
}

.site-nav .nav-item {
    margin-left: 1rem;
}

.site-title {
    font-size: 1.25rem;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

h1 {
    margin: 0;
}

.nav-link {
    padding: 0;
    font-size: 1rem;
    line-height: 2.5rem;
    color: inherit;
    opacity: .8;
}

.nav-link:hover, .nav-link:focus {
    color: inherit;
    opacity: 1;
}

.nav-item+.nav-item {
    margin-left: 1rem;
}